/* 文字エンコーディング */
@charset "UTF-8";

/* スタイル定義 */
html {
  font-family: "BIZ UDPGothic", Arial, Helvetica, Courier New, Georgia,
    Times New Roman, Trebuchet MS, Verdana;
  font-size: 90%; /* フォントサイズ指定 */
  box-sizing: border-box; /* ボックスサイズはパディングとボーダーを幅と高さに含める */
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.page-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  background: white;
}

button.btn {
  margin-top: 6px;
  padding: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: none;
  color: rgb(3, 20, 51);
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid cornflowerblue;
  cursor: pointer;

  /* ボタンの角を丸める */
  border-radius: 0.4rem;
  /* ボタンのフォントサイズ */
  font-size: 0.9rem;
  
  /* グラデーションの向き(左から右) */
  /* 色:rgb(255, 188, 0) 透明度(0):透明   位置:  0%(左端) から */
  /* 色:rgb(255, 128, 0) 透明度(1):不透明 位置:100%(右端) まで */
  background-image: linear-gradient(
    to right,
    rgba(228, 236, 250, 0) 0%,
    rgba(171, 196, 243, 0.6) 20%,
    rgba(73, 136, 252, 0.9) 100%
  );

  /* 水平方向:1px 垂直方向:1px ぼかしの距離:3px 影の形状を全方向に拡大:2px  inset:内側の影に変更*/
  box-shadow: 1px 1px 3px 1px rgba(222, 222, 222, 0.9) inset;
  /* 水平方向:1px 垂直方向:1px ぼかし効果の境界までの距離:1px 色*/
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.9);
}

button.btn:hover {
  background: cornflowerblue;
  color: white;
}

button.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
