/* 文字エンコーディング */
@charset "UTF-8";

/* スタイル定義 */
html {
  font-family: "BIZ UDPゴシック", Arial, Helvetica, Courier New, Georgia,
    Times New Roman, Trebuchet MS, Verdana;
  font-size: 95%; /* フォントサイズ指定 */
  box-sizing: border-box; /* ボックスサイズはパディングとボーダーを幅と高さに含める */
}

body {
  background: darkgrey;
}

.page-container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  padding: 15px;
  background: white;
}

.box {
  margin: 0 auto;
}

.h1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

li {
  margin: 3px 20px 3px 3px;
  padding: 0.5px;
  font-size: 2rem;
  font-weight: bold;
}

li > img {
  width: 60px;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .h1-box {
    flex-wrap: wrap;
  }
}

h2 {
  margin-bottom: 15px;
}

button.btn {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: none;
  color: cornflowerblue;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px;
  border: 1px solid cornflowerblue;
  cursor: pointer;
  margin-top: 10px;
}

button.btn:hover {
  background: cornflowerblue;
  color: white;
}

button.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

footer {
  padding: 30px 15px 15px 15px;
}

a {
  color: cornflowerblue;
}
