/* 文字エンコーディング */
@charset "UTF-8";

/* スタイル定義 */
html {
  font-family: "BIZ UDPゴシック", Arial, Helvetica, Courier New, Georgia,
    Times New Roman, Trebuchet MS, Verdana;
  font-size: 95%; /* フォントサイズ指定 */
  box-sizing: border-box; /* ボックスサイズはパディングとボーダーを幅と高さに含める */
}

body {
  background: darkgrey;
}

.page-container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  padding: 15px;
  background: white;
}

/* caption */
.caption {
  margin: 0 auto;
  padding: 0;
}

.caption-box {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.caption-box > li {
  margin: 1px 20px 1px 1px;
  padding: 0.5px;
  font-size: 2rem;
  font-weight: bold;
}

.caption-box > li > img {
  width: 60px;
  object-fit: cover;
}

/* ページボタン */
.page-button {
  margin: 0 auto;
  padding: 0;
}

.page-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.page-button-box > li {
  margin: 10px 20px 5px 1px;
  padding: 2px;
  width: 110px;

  border: 0.05rem solid rgb(252, 252, 252);
  border-radius: 0.4rem;
  background-color: red;
  color: white;
  font-weight: bold;

  /* グラデーションの向き(左から右) */
  /* 色:rgb(255, 188, 0) 透明度(0):透明   位置:  0%(左端) から */
  /* 色:rgb(255, 128, 0) 透明度(1):不透明 位置:100%(右端) まで */
  background-image: linear-gradient(
    to right,
    rgba(255, 188, 0, 0) 0%,
    rgba(255, 64, 0, 1) 100%
  );

  /* 水平方向:1px 垂直方向:1px ぼかしの距離:3px 影の形状を全方向に拡大:2px  inset:内側の影に変更*/
  box-shadow: 0.9px 0.9px 4px 2px rgba(222, 222, 222, 0.9) inset;
  /* 水平方向:2px 垂直方向:2px ぼかし効果の境界までの距離:2px 色*/
  text-shadow: 1px 1px 1.5px rgba(32, 32, 32, 0.9);
}

.page-button-box > li:hover {
  color: #fff;
  background-color: #5cabd0;
  cursor: pointer;
}

/* メディアクエリ */
@media screen and (max-width: 700px) {
  .caption-box,
  .page-button-box {
    flex-wrap: wrap;
  }
}

.page-area {
  margin: 0 auto;
  padding: 0;
}

footer {
  padding: 30px 15px 15px 15px;
}

a {
  color: cornflowerblue;
}
