/* 文字エンコーディング */
@charset "UTF-8";

/* ルート要素のスタイル定義 */
html {
  /* フォント指定 */
  font-family: "BIZ UDPGothic", sans-serif;
  font-size: 18px; /* フォントサイズ指定 */
  box-sizing: border-box; /* ボックスサイズはパディングとボーダーを幅と高さに含める */
}

/* body要素のスタイル定義 */
body {
  background: lightgray;
}

/* コンテナのスタイル定義 */
.container {
  margin: 0.1rem auto;
  padding: 0.1rem;
  max-width: 80%;
  text-align: center;
  background-color: white;
}

/* キャプションbox */
.caption-box {
  margin: 0 auto;
  padding: 0;
}

/* キャプションのスタイル定義 */
.caption {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

/* キャプション内 liのスタイル定義 */
.caption > li {
  margin: 0.1rem 1.2rem 0.1rem 0.1rem;
  padding: 0.2rem;
  font-family: "ヒラギノ明朝 ProN W3", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* キャプション内 imgのスタイル定義 */
.caption > li img {
  width: 3rem;
  object-fit: cover;
}

/* iframeコンテンツ切替ボタンbox */
.iframe-contents-change-button-box {
  margin: 0 auto;
  padding: 0;
}

/* iframeコンテンツ切替ボタンのスタイル定義 */
.iframe-contents-change-button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

/* iframeコンテンツ切替ボタン内 liのデフォルトスタイル定義 */
.iframe-contents-change-button > li {
  width: 8rem;
  margin: 0.5rem 0.2rem 0 0.2rem;

  /* フォント */
  font-family: "BIZ UDP明朝 Medium", sans-serif;
  /* フォントサイズ */
  font-size: 0.9rem;
  /* フォントウェイト */
  font-weight: bold;

  /* ボーダー丸め */
  border-radius: 0.3rem;
}

/* iframeコンテンツ切替ボタン内 liマウスホバー時のスタイル定義 */
.iframe-contents-change-button > li:hover {
  /* カーソル */
  cursor: pointer;
}

/* iframeコンテンツのスタイル定義 */
.iframe-contents {
  margin: 0 auto;
  padding: 0;
}

/* iframe要素のスタイル定義 */
iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 36em;
  border: none;
}

/* リンクのスタイル定義 */
a {
  outline: none;
  text-decoration: none;
}

/* 未訪問リンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):link
{
  color: #265301;
}

/* 訪問済リンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):visited
{
  color: #437a16;
}

/* フォーカスしたリンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):focus
{
  border-bottom: 1px solid;
  background: #bae498;
}

/* ホバーしたリンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):hover
{
  border-bottom: 1px solid;
  background: #cdfeaa;
}

/* ユーザーの操作で要素がアクティブになった際のリンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):active
{
  background: #265301;
  color: #cdfeaa;
}

/* フッター */
footer {
  margin: 0;
  padding: 0.3rem;

  /* フォント指定 */
  font-family: "ヒラギノ明朝 ProN W3", sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
}

/* メディアクエリ */
@media screen and (max-width: 800px) {
  html {
    font-size: 0.8rem; /* フォントサイズ指定 */
  }

  .caption,
  .iframe-contents-change-button {
    flex-wrap: wrap;
  }

  iframe {
    height: 20rem;
  }
}
