/* 文字エンコーディング */
@charset "UTF-8";

/* ルート要素のスタイル定義 */
html {
  /* フォント指定 */
  font-family: "BIZ UDPGothic", Arial, Helvetica, Courier New, Georgia,
    Times New Roman, Trebuchet MS, Verdana;
  font-size: 18px; /* フォントサイズ指定 */
  box-sizing: border-box; /* ボックスサイズはパディングとボーダーを幅と高さに含める */
}

/* body要素のスタイル定義 */
body {
  background: lightgray;
}

/* コンテナのスタイル定義 */
.container {
  margin: 0.5rem auto;
  padding: 0.2rem;
  max-width: 80%;
  text-align: center;
  background-color: white;
}

/* キャプションbox */
.caption-box {
  margin: 0 auto;
  padding: 0;
}

/* キャプションのスタイル定義 */
.caption {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

/* キャプション内 liのスタイル定義 */
.caption > li {
  margin: 0.1rem 1.2rem 0.1rem 0.1rem;
  padding: 0.2rem;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", Arial, Helvetica,
    Courier New, Georgia, Times New Roman, Trebuchet MS, Verdana;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* キャプション内 imgのスタイル定義 */
.caption > li img {
  width: 3rem;
  object-fit: cover;
}

/* iframeコンテンツ切替ボタンbox */
.iframe-contents-change-button-box {
  margin: 0 auto;
  padding: 0;
}

/* iframeコンテンツ切替ボタンのスタイル定義 */
.iframe-contents-change-button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

/* iframeコンテンツ切替ボタン内 liのスタイル定義 */
.iframe-contents-change-button > li {
  margin: 0.5rem 1rem 0 1rem;
  padding: 0.2rem;
  width: 5rem;

  border-radius: 0.4rem;
  background-color: red;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;

  /* グラデーションの向き(左から右) */
  /* 色:rgb(255, 188, 0) 透明度(0):透明   位置:  0%(左端) から */
  /* 色:rgb(255, 128, 0) 透明度(1):不透明 位置:100%(右端) まで */
  background-image: linear-gradient(
    to right,
    rgba(255, 188, 0, 0) 0%,
    rgba(255, 64, 0, 1) 100%
  );

  /* 水平方向:1px 垂直方向:1px ぼかしの距離:3px 影の形状を全方向に拡大:2px  inset:内側の影に変更*/
  box-shadow: 1px 1px 3px 1px rgba(222, 222, 222, 0.9) inset;
  /* 水平方向:2px 垂直方向:2px ぼかし効果の境界までの距離:2px 色*/
  text-shadow: 1px 1px 1.5px rgba(32, 32, 32, 0.9);
}

/* iframeコンテンツ切替ボタン内 liのスタイル定義 */
.iframe-contents-change-button > li:hover {
  color: #fff;
  background-color: #5cabd0;
  cursor: pointer;
}

/* iframeコンテンツのスタイル定義 */
.iframe-contents {
  margin: 0 auto;
  padding: 0;
}

/* iframe要素のスタイル定義 */
iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35rem;
  border: none;
}

/* リンクのスタイル定義 */
a {
  outline: none;
  text-decoration: none;
}

/* 未訪問リンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):link
{
  color: #265301;
}

/* 訪問済リンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):visited
{
  color: #437a16;
}

/* フォーカスしたリンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):focus
{
  border-bottom: 1px solid;
  background: #bae498;
}

/* ホバーしたリンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):hover
{
  border-bottom: 1px solid;
  background: #cdfeaa;
}

/* ユーザーの操作で要素がアクティブになった際のリンクのスタイル定義 */
a:not(a[href="https://ameblo.jp/equeko99"]):active
{
  background: #265301;
  color: #cdfeaa;
}

/* フッター */
footer {
  margin: 0;
  padding: 0.3rem;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", Arial, Helvetica,
    Courier New, Georgia, Times New Roman, Trebuchet MS, Verdana;
  font-size: 0.75rem;
  font-weight: bold;
}

/* メディアクエリ */
@media screen and (max-width: 700px) {
  html {
    font-size: 90%; /* フォントサイズ指定 */
  }

  .caption,
  .iframe-contents-change-button {
    flex-wrap: wrap;
  }

  iframe {
    height: 20rem;
  }
}
